<div class="contact-container">
  <div class="contact">
    <h1><span>Contact me</span></h1>
    <div class="contact-details">
      <div class="input">
        <label for="firstname">Firstname</label>
        <input type="text" name="firstname" />
      </div>
      <div class="input">
        <label for="lastname">Lastname</label>
        <input type="text" name="lastname" />
      </div>
      <div class="input">
        <label for="email">Email</label>
        <input type="email" name="email" />
      </div>
      <div class="input">
        <label for="subject">Subject</label>
        <input type="text" name="subject" />
      </div>
      <div class="input">
        <label for="message">Message</label>
        <textarea name="message" cols="30" rows="10"></textarea>
      </div>
      <button>Send</button>
    </div>
  </div>
</div>
