$header-height: 14vh;

.header {
  background-color: #373232;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  padding-left: 2vw;
  z-index: 100;
  height: $header-height;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  overflow-y: hidden;
}
.logo {
  width: 25vw;
  max-width: 200px;
  height: auto;
}

.links {
  width: 75vw;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

ul {
  padding: 4rem;
  cursor: pointer;
  font-family: "Quattrocento Sans", sans-serif;
  li {
    letter-spacing: 7px;
    text-transform: uppercase;
    border-radius: 10px;
    padding: 1.5rem;
    display: inline;
    color: #4fc2b9;
    font-size: 1.5rem;
    &.active {
      background-color: #2674b5;
      color: white;
    }
  }
}

@media screen and (max-width: 1005px) {
  ul {
    li {
      letter-spacing: 0;
    }
  }
}
