<div class="home">
  <div class="left" data-aos="fade-up">
    <div class="about">
      <img src="../../../assets/img/head.png" alt="" />
      <p class="home-text">
        Hi I’m Stephen Lanszweert! I’m an excited new web-developer just
        starting out in the business. To get to know me better feel free to go
        through my portfolio!
      </p>
    </div>
    <div class="hobbies">
      <h1>Hobbies</h1>
      <div class="icons">
        <div class="hobby">
          <span class="material-icons">
            computer
          </span>
          <p>Code</p>
        </div>
        <div class="hobby">
          <span class="material-icons">
            directions_run
          </span>
          <p>Running</p>
        </div>
        <div class="hobby">
          <span class="material-icons">
            menu_book
          </span>
          <p>Reading</p>
        </div>
        <div class="hobby">
          <span class="material-icons">
            home
          </span>
          <p>Family</p>
        </div>
      </div>
    </div>
  </div>
  <div class="right" data-aos="fade-up">
    <div>
      <h1>Personal skills</h1>
      <app-skillbar text="Communication" percentage="80"></app-skillbar>
      <app-skillbar text="Teamwork" percentage="85"></app-skillbar>
      <app-skillbar text="Perseverence" percentage="80"></app-skillbar>
    </div>
    <div>
      <h1>Technical skills</h1>
      <app-skillbar text="Code" percentage="90"></app-skillbar>
      <app-skillbar text="Design" percentage="80"></app-skillbar>
      <app-skillbar text="Infrastructure" percentage="70"></app-skillbar>
    </div>
  </div>
</div>
