<div class="home">
  <div class="left">
    <div class="about">
      <img src="../../../assets/img/head.png" alt="" />
      <p class="home-text">
        Hi I’m Stephen Lanszweert! I’m an excited new web-developer just
        starting out in the business. To get to know me better feel free to go
        through my portfolio!
      </p>
    </div>
    <div class="hobbies">
      <h1>Hobbies</h1>
      <div class="hobby">
        <span class="material-icons">
          computer
        </span>
        <p>Code (ofcourse)</p>
      </div>
      <div class="hobby">
        <span class="material-icons">
          directions_run
        </span>
        <p>Running</p>
      </div>
      <div class="hobby">
        <span class="material-icons">
          menu_book
        </span>
        <p>Reading</p>
      </div>
      <div class="hobby">
        <span class="material-icons">
          home
        </span>
        <p>Being at home with family</p>
      </div>
    </div>
  </div>
  <div class="right">
    <div>
      <h1>This is top right</h1>
    </div>
    <div>
      <h1>This is bottom right</h1>
    </div>
  </div>
</div>
