.home {
  height: 86vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  .img,
  p {
    width: 40%;
    display: flex;
    justify-content: center;
  }
  .img {
    img {
      width: 50%;
      border-radius: 15px;
    }
  }
  p {
    color: white;
    font-size: 2rem;
    line-height: 4rem;
  }
}
