<div class="projects">
  <app-project
    imageSrc="../../assets/img/waterwell.jpg"
    keyword="IoT"
    [words]="['NodeJs', 'HTML', 'CSS', 'Javascript', 'Angular']"
  ></app-project>
  <app-project
    imageSrc="../../assets/img/website.jpg"
    keyword="Website"
    [words]="['HTML', 'CSS', 'Javascript', 'Angular']"
  ></app-project>
  <app-project
    imageSrc="../../assets/img/ax6.jpg"
    keyword="App"
    [words]="['.NET', 'HTML', 'CSS', 'Javascript', 'Angular']"
  ></app-project>
</div>
