.container {
  opacity: 0;
  transition: 0.2s all ease-in;
}

.overlay {
  position: absolute;
  top: 14vh;
  width: 100vw;
  height: 200vh;
  z-index: 1;
  background-image: url("../../../assets/img/back-min.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.sections {
  position: absolute;
  top: 14vh;
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 200vh;
  z-index: 2;
  background-color: #373232e7;
}

.loaded {
  opacity: 1;
}

section {
  height: 100vh;
}
