.bigcontainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  background-color: #373232;
}
.container {
  transition: left 1s ease-in;
  min-width: 50vw;
  min-height: 100vh;
  position: absolute;
  left: 51vw;
  top: 0;
  background-image: url("../../../assets/img/Right.png");
  background-position: left;
  background-size: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
.container-left {
  transition: left 1s ease-in;
  min-width: 50vw;
  padding-left: 2px;
  min-height: 100vh;
  position: absolute;
  left: -1vw;
  top: 0;
  background-image: url("../../../assets/img/Left.png");
  background-position: right;
  background-size: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
.left-gone {
  left: -51vw;
}
.right-gone {
  left: 100vw;
}

.text-gone {
  opacity: 0;
}
.more {
  font-family: "Quattrocento Sans", sans-serif;
  cursor: pointer;
  color: white;
  font-size: 2rem;
  z-index: 10;
  padding-top: 5rem;
  span {
    font-size: 5rem;
  }
}

.text {
  margin-top: 63vh;
  z-index: 10;
  transition: all 0.7s ease-out;
  font-size: 2rem;
  letter-spacing: 2px;
  color: #4fc2b9;
  .first-word {
    color: #2674b5;
  }
}
